/* Fix add card button position  */
:host {
	bottom: calc(var(--footer-height) + 16px) !important;
	z-index: 3 !important;
}

/* Decrease border radius and increase height */
.mdc-fab {
	height: 56px !important;
	border-radius: 12px !important;
}
.ripple {
	border-radius: 12px !important;
}

/* Remove all caps */
.mdc-fab__label {
	text-transform: none !important;
	font-size: 11pt;
}
