/* Make header transparent and define scroll transition */
.header {
	background-color: transparent !important;
	pointer-events: none;
	--scroll-transition: transform 50ms cubic-bezier(0.2, 0, 0, 1);
}

/* Put current view label in header title */
paper-tab.iron-selected::before {
	content: attr(aria-label);
	text-transform: none;
	position: fixed;
	top: calc(var(--header-height) / 2);
	left: calc(50% + (var(--mdc-drawer-width, 0px) / 2));
	transform: translate(-50%, -50%);
	font-size: 22px;
	font-weight: 400;
	transition: var(--scroll-transition);
}
:host([scrolled]) paper-tab.iron-selected::before {
	transform: translate(-50%, calc(-50% - var(--header-height)));
}

/*
 * Move menu and action items buttons to header
 * Add scroll transition to header buttons
 * User different color for header trailing icons
 */
.action-items {
	position: absolute;
	right: 0px;
	color: var(--app-header-edit-text-color);
}
.action-items,
ha-menu-button {
	padding: 0 12px;
}
.action-items,
.main-title,
ha-menu-button,
ha-icon-button-arrow-prev {
	transition: var(--scroll-transition);
	pointer-events: all;
}

/* Hide header buttons and title if not scrolled to top  */
:host([scrolled]) ha-icon-button-arrow-prev,
:host([scrolled]) ha-menu-button,
:host([scrolled]) .main-title,
:host([scrolled]) .action-items {
	transform: translateY(calc(-1 * var(--header-height)));
}

/* Remove toolbar padding */
.toolbar {
	padding: 0 !important;
}

/* Force hide subview tab just in case */
.hide-tab {
	display: none !important;
}

/* Turn view tabs into a separate footer */
paper-tabs,
ha-tabs {
	position: fixed;
	top: unset !important;
	bottom: 0 !important;
	background: var(--navbar-background) !important;
	height: var(--footer-height) !important;
	padding-bottom: env(safe-area-inset-bottom) !important;
	margin: 0 !important;
	margin-inline: 0 !important;
	pointer-events: all;
}

/*
Display view tab contents vertically and calculate width to fill entire toolbar.
While this can be (and previously was) done by making the view tabs parent a flexbox,
The parent of the view tabs is within a shadow-root which the view tabs are slotted into.
Styling their parent element is much slower and inconsistent.
*/
paper-tab {
	padding: 8.5px 0 0; /* the md3 docs say to use 12 dp but this better matches md3 apps */
	flex-direction: column;
	flex: 1;
	width: var(--tab-width);
	--tab-width: clamp(
		min(calc(((100vw - var(--mdc-drawer-width, 0px)) / 5) - 3px), 72px),
		((100vw - var(--mdc-drawer-width, 0px)) / var(--view-tabs-count)) - 3px,
		calc(((100vw - var(--mdc-drawer-width, 0px))) - 3px)
	);
	--icon-width: min(64px, var(--tab-width));
}

/* Add background and color current view icon */
paper-tab ha-icon::before {
	content: '';
	position: absolute;
	height: 32px;
	width: var(--icon-width);
	border-radius: 16px;
	background: var(--md-current-tab-icon-background);
	transition: transform 0.2s cubic-bezier(0.2, 0, 0, 1);
	transform: scaleX(0);
}
paper-tab.iron-selected ha-icon::before {
	transform: scaleX(1);
}
paper-tab.iron-selected ha-icon {
	color: var(--md-current-tab-icon-color);
}

/* Prevent edit mode icon from shrinking on small width displays */
ha-svg-icon {
	min-width: 24px;
}

/* View icon display centering */
ha-icon {
	width: var(--icon-width);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

/* View icon state layers */
ha-icon::after {
	content: '';
	position: absolute;
	height: 32px;
	width: var(--icon-width);
	border-radius: 16px;
	z-index: 0;
	background: var(--md-current-tab-text-color);
	opacity: 0;
	transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s;
}
@media (hover: hover) {
	paper-tab:hover ha-icon::after {
		opacity: 0.08;
	}
}
paper-tab:focus-visible ha-icon::after,
paper-tab:active ha-icon::after {
	opacity: 0.1;
}

/* View label */
paper-tab::after {
	content: attr(aria-label);
	text-transform: none;
	text-wrap: wrap;
	text-align: center;
	font-weight: 500;
	font-size: min(3.6vw, 13px);
	padding: 0px 1px;
	overflow: hidden;
	line-height: 14px;
	height: 100%;
	color: var(--md-inactive-tab-text-color);
}

/* Current view label color */
paper-tab.iron-selected::after {
	color: var(--md-current-tab-text-color);
	font-weight: 700;
}

/* Fix edit mode toolbar height and width */
paper-tabs {
	height: 50%;
	width: calc(100% - var(--mdc-drawer-width, 0px));
}

/* Make edit mode current view tab fit all buttons */
.edit-mode paper-tab {
	min-width: fit-content !important;
}

/* Fix edit mode current view label position */
.edit-mode paper-tab.iron-selected::after {
	margin-top: -2px !important;
}

/* Move edit mode action items back to bottom toolbar */
.edit-mode .action-items {
	position: static !important;
}

/* Style add view button to look like view buttons */
#add-view {
	top: 6px;
	height: 100% !important;
	display: inline-flex;
	flex-direction: column;
}
#add-view::after {
	content: 'Add View';
	text-transform: none;
	text-wrap: wrap;
	text-align: center;
	font-weight: 500;
	font-size: min(3.6vw, 13px);
	opacity: 0.8;
	padding: 0px 1px;
	overflow: hidden;
	line-height: 12px;
	height: 100%;
	margin-top: -6px;
}

/* Fix edit mode menu link color */
.menu-link {
	color: var(--app-header-edit-text-color);
}
