/* Fix view horizontal overflow scroll */
#view {
	overflow-x: hidden;
}

/* Add bottom footer padding when present */
.header:has(ha-tabs, paper-tabs) + #view {
	padding-bottom: calc(
		var(--kiosk-header-height, var(--footer-height)) +
			env(safe-area-inset-bottom)
	) !important;
}
