home-assistant {
	--md-sys-color-primary: #acc7ff;
	--md-sys-color-on-primary: #002e68;
	--md-sys-color-primary-container: #004492;
	--md-sys-color-on-primary-container: #d7e2ff;

	--md-sys-color-secondary: #bec6dc;
	--md-sys-color-on-secondary: #283041;
	--md-sys-color-secondary-container: #3f4759;
	--md-sys-color-on-secondary-container: #dae2f9;

	--md-sys-color-tertiary: #debcdf;
	--md-sys-color-on-tertiary: #402844;
	--md-sys-color-tertiary-container: #583e5b;
	--md-sys-color-on-tertiary-container: #fbd7fc;

	--md-sys-color-error: #ffb4ab;
	--md-sys-color-on-error: #690005;
	--md-sys-color-error-container: #93000a;
	--md-sys-color-on-error-container: #ffb4ab;

	--md-sys-color-background: #1b1b1f;
	--md-sys-color-on-background: #e3e2e6;

	--md-sys-color-surface: #1b1b1f;
	--md-sys-color-on-surface: #e3e2e6;
	--md-sys-color-surface-variant: #44474f;
	--md-sys-color-on-surface-variant: #c4c6d0;

	--md-sys-color-outline: #8e9099;
	--md-sys-color-outline-variant: #44474f;

	--md-sys-color-shadow: #000000;
	--md-sys-color-scrim: #000000;

	--md-sys-color-inverse-surface: #e3e2e6;
	--md-sys-color-inverse-on-surface: #2f3033;
	--md-sys-color-inverse-primary: #005bbf;
}
