home-assistant {
	--md-sys-color-primary: rgb(1, 98, 162);
	--md-sys-color-on-primary: rgb(255, 255, 255);
	--md-sys-color-primary-container: rgb(209, 228, 255);
	--md-sys-color-on-primary-container: rgb(0, 30, 56);

	--md-sys-color-secondary: rgb(82, 94, 111);
	--md-sys-color-on-secondary: rgb(255, 255, 255);
	--md-sys-color-secondary-container: rgb(212, 226, 247);
	--md-sys-color-on-secondary-container: rgb(17, 29, 45);

	--md-sys-color-tertiary: rgb(108, 88, 121);
	--md-sys-color-on-tertiary: rgb(255, 255, 255);
	--md-sys-color-tertiary-container: rgb(243, 219, 255);
	--md-sys-color-on-tertiary-container: rgb(38, 21, 51);

	--md-sys-color-error: rgb(187, 27, 27);
	--md-sys-color-on-error: rgb(255, 255, 255);
	--md-sys-color-error-container: rgb(255, 218, 214);
	--md-sys-color-on-error-container: rgb(66, 0, 2);

	--md-sys-color-background: rgb(252, 250, 255);
	--md-sys-color-on-background: rgb(26, 28, 30);

	--md-sys-color-surface: rgb(252, 250, 255);
	--md-sys-color-on-surface: rgb(26, 28, 30);
	--md-sys-color-surface-variant: rgb(224, 227, 235);
	--md-sys-color-on-surface-variant: rgb(66, 70, 77);

	--md-sys-color-outline: rgb(114, 118, 126);
	--md-sys-color-outline-variant: rgb(196, 199, 207);

	--md-sys-color-shadow: rgb(0, 0, 0);
	--md-sys-color-scrim: rgb(0, 0, 0);

	--md-sys-color-inverse-surface: rgb(47, 47, 50);
	--md-sys-color-inverse-on-surface: rgb(241, 240, 244);
	--md-sys-color-inverse-primary: rgb(158, 202, 255);
}
