html {
	--md-sys-color-primary: #4c5c92;
	--md-sys-color-on-primary: #ffffff;
	--md-sys-color-primary-container: #dce1ff;
	--md-sys-color-on-primary-container: #344479;
	--md-sys-color-primary-palette-key-color: #6575ad;
	--md-sys-color-inverse-primary: #b5c4ff;
	--md-sys-color-primary-fixed: #dce1ff;
	--md-sys-color-primary-fixed-dim: #b5c4ff;
	--md-sys-color-on-primary-fixed: #02174b;
	--md-sys-color-on-primary-fixed-variant: #344479;

	--md-sys-color-secondary: #595e72;
	--md-sys-color-on-secondary: #ffffff;
	--md-sys-color-secondary-container: #dee1f9;
	--md-sys-color-on-secondary-container: #414659;
	--md-sys-color-secondary-palette-key-color: #72768b;
	--md-sys-color-secondary-fixed: #dee1f9;
	--md-sys-color-secondary-fixed-dim: #c1c5dd;
	--md-sys-color-on-secondary-fixed: #161b2c;
	--md-sys-color-on-secondary-fixed-variant: #414659;

	--md-sys-color-tertiary: #745470;
	--md-sys-color-on-tertiary: #ffffff;
	--md-sys-color-tertiary-container: #ffd7f6;
	--md-sys-color-on-tertiary-container: #5b3d57;
	--md-sys-color-tertiary-palette-key-color: #8f6c89;
	--md-sys-color-tertiary-fixed: #ffd7f6;
	--md-sys-color-tertiary-fixed-dim: #e3badb;
	--md-sys-color-on-tertiary-fixed: #2c122a;
	--md-sys-color-on-tertiary-fixed-variant: #5b3d57;

	--md-sys-color-neutral-palette-key-color: #76767d;
	--md-sys-color-neutral-variant-palette-key-color: #75767f;

	--md-sys-color-error: #ba1a1a;
	--md-sys-color-on-error: #ffffff;
	--md-sys-color-error-container: #ffdad6;
	--md-sys-color-on-error-container: #93000a;

	--md-sys-color-surface: #faf8ff;
	--md-sys-color-on-surface: #1a1b21;
	--md-sys-color-surface-variant: #e2e1ec;
	--md-sys-color-on-surface-variant: #45464f;
	--md-sys-color-surface-dim: #dad9e0;
	--md-sys-color-surface-bright: #faf8ff;
	--md-sys-color-surface-container-lowest: #ffffff;
	--md-sys-color-surface-container-low: #f4f3fa;
	--md-sys-color-surface-container: #eeedf4;
	--md-sys-color-surface-container-high: #e9e7ef;
	--md-sys-color-surface-container-highest: #e3e1e9;
	--md-sys-color-inverse-surface: #2f3036;
	--md-sys-color-inverse-on-surface: #f1f0f7;
	--md-sys-color-surface-tint: #4c5c92;

	--md-sys-color-outline: #767680;
	--md-sys-color-outline-variant: #c6c6d0;

	--md-sys-color-shadow: #000000;
	--md-sys-color-scrim: #000000;
}
