:host {
	{%- set id = "_" + user | lower | replace(" ","_") -%}
	{%- set base_color = "" -%}

	{%- if has_value("sensor.material_rounded_base_color" + id) -%}
	{%- set base_color = states("sensor.material_rounded_base_color" + id) -%}
	{%- elif has_value("sensor.material_rounded_base_color") -%}
	{%- set base_color = states("sensor.material_rounded_base_color") -%}
	{%- endif -%}

	{%- if (base_color | length) in [6, 7] -%}
	{%- set hsl = hex2hsl(base_color).split(',') -%}
	
	{# accent color #}
	--accent-color: hsl({{ hsl[0] }}, {{ hsl[1] }}%, var(--accent-luminance));
	--mdc-theme-on-primary: var(--accent-color);
	--mdc-theme-on-secondary: var(--accent-color);
	
	{# primary color #}
	--primary-color: hsl({{ hsl[0] }}, {{ hsl[1] }}%, var(--primary-luminance));
	--text-accent-color: var(--primary-color);
	--link-text-color: var(--primary-color);
	--dark-primary-color: var(--primary-color);
	--light-primary-color: var(--primary-color);
  	--slider-secondary-color: var(--primary-color);
	--mdc-theme-primary: var(--primary-color);
	--mdc-theme-secondary: var(--primary-color);
	--sidebar-selected-text-color: var(--primary-color);
	--sidebar-selected-icon-color: var(--primary-color);
	--paper-slider-knob-color: var(--primary-color);
	--paper-slider-knob-start-color: var(--primary-color);
	--paper-slider-pin-color: var(--primary-color);
	--paper-slider-active-color: var(--primary-color);
	--paper-slider-secondary-color: var(--primary-color);
	--input-hover-line-color: var(--primary-color);
	--mdc-select-hover-line-color: var(--primary-color);
	--mdc-text-field-hover-line-color: var(--primary-color);
	--codemirror-property: var(--primary-color);
	--codemirror-atom: var(--primary-color);

	--slider-color: light-dark(
		hsl({{ (hsl[0] | int) + 14 }}, 90%, 91%),
		hsl({{ (hsl[0] | int) + 14 }}, 90%, 33%),
	);
	--md-switch-checked-button-color: light-dark(
		hsl(0, 0%, 100%),
		var(--accent-color)
	);
	--md-switch-checked-track-color: light-dark(
		hsl({{ hsl[0] }}, {{ hsl[1] }}%, 30%),
		var(--primary-color)
	);
	--md-switch-unchecked-button-color: light-dark(
		hsl({{ (hsl[0] | int ) + 16 }}, 0%, 50%),
		hsl({{ (hsl[0] | int ) + 16 }}, 3%, 60%)
	);
	--md-switch-unchecked-track-color: light-dark(
		hsl({{ (hsl[0] | int ) + 9 }}, 3%, 90%),
		hsl({{ (hsl[0] | int ) + 9 }}, 3%, 29%)
	);
	{%- endif -%}

	--switch-checked-button-color: var(--md-switch-checked-button-color) !important;
	--switch-checked-track-color: var(--md-switch-checked-track-color) !important;
	--switch-unchecked-button-color: var(--md-switch-unchecked-button-color) !important;
	--switch-unchecked-track-color: var(--md-switch-unchecked-track-color) !important;
}