* {
	{%- set id = "_" + user | lower | replace(" ","_") -%}
	{%- set base_color = "" -%}

	{%- if has_value("sensor.material_rounded_base_color" + id) -%}
	{%- set base_color = states("sensor.material_rounded_base_color" + id) -%}
	{%- elif has_value("sensor.material_rounded_base_color") -%}
	{%- set base_color = states("sensor.material_rounded_base_color") -%}
	{%- endif -%}

	{%- if (base_color | length) in [6, 7] -%}
	{%- set hsl = hex2hsl(base_color).split(',') -%}
	
	--accent-color: hsl({{ hsl[0] }}, {{ hsl[1] }}%, var(--accent-luminance));
	--text-light-primary-color: var(--text-primary-color);
	--mdc-theme-on-primary: var(--accent-color);
	--mdc-theme-on-secondary: var(--accent-color);
	--mdc-switch-checked-thumb-color: hsl(calc(({{ hsl[0] }} + 2) * var(--dark-mode)), calc({{ hsl[1] }}% * var(--dark-mode)), var(--mdc-switch-checked-thumb-luminace));
	--mdc-switch-checked-track-color: hsl(calc({{ hsl[0] }} + 9 * var(--dark-mode)), 100%, var(--mdc-switch-checked-track-luminace));
	--mdc-switch-unchecked-thumb-color: hsl(calc({{ hsl[0] }} + 16), 9%, 59%);
	--mdc-switch-unchecked-track-color: hsl(calc({{ hsl[0] }} + 9), 12%, 29%);

	--primary-color: hsl({{ hsl[0] }}, {{ hsl[1] }}%, var(--primary-luminance));
	--text-accent-color: var(--primary-color);
	--dark-primary-color: var(--primary-color);
	--light-primary-color: var(--primary-color);
	--mdc-theme-primary: var(--primary-color);
	--mdc-theme-secondary: var(--primary-color);
	--sidebar-selected-text-color: var(--primary-text-color);
	--sidebar-selected-icon-color: var(--primary-color);
	--paper-slider-knob-color: var(--primary-color);
	--paper-slider-knob-start-color: var(--paper-slider-knob-color);
	--paper-slider-pin-color: var(--paper-slider-knob-color);
	--paper-slider-active-color: var(--paper-slider-knob-color);
	--paper-slider-secondary-color: var(--light-primary-color);
	--input-hover-line-color: var(--primary-color);
	--mdc-select-hover-line-color: var(--input-hover-line-color);
	--mdc-text-field-hover-line-color: var(--input-hover-line-color);
	--codemirror-property: var(--primary-color);
	--codemirror-atom: var(--codemirror-property);
	{%- endif -%}

	--switch-checked-button-color: var(--mdc-switch-checked-thumb-color) !important;
	--switch-checked-track-color: var(--mdc-switch-checked-track-color) !important;
	--switch-unchecked-button-color: var(--mdc-switch-unchecked-thumb-color) !important;
	--switch-unchecked-track-color: var(--mdc-switch-unchecked-track-color) !important;
}