/* Correct Material 3 header toggle position */
hui-entities-toggle {
	position: relative !important;
	width: 40px !important;
	left: -4px !important;
	top: 8px !important;
}

/* Use primary color for graphs */
.graph,
hui-graph-header-footer {
	--accent-color: var(--primary-color);
}
