/* Correct Material 3 header toggle position */
hui-entities-toggle {
	position: relative !important;
	width: 40px !important;
	left: -4px !important;
	top: 8px !important;
}

/* Animate card when clicked */
ha-card:active {
	transform: scale(0.99);
	transition: 0s;
}