/* Fix add card button position  */
:host {
	position: fixed !important;
	bottom: calc(2 * var(--footer-height) + 16px) !important;
	overflow: hidden;
	border-radius: 16px !important;
	z-index: 9 !important;
}

/* Decrease border radius and increase height */
button {
	height: 56px !important;

	/* Remove all caps */
	> .mdc-fab__label {
		text-transform: none !important;
		font-size: 11pt;
	}
}
