/* Material 3 colors and adjust padding to match footprint of old switch  */
:host {
	padding: 0 !important;
	position: relative;
	top: 3px;
	--switch-checked-button-color: var(--md-switch-checked-button-color);
	--switch-unchecked-button-color: var(--md-switch-unchecked-button-color);
	--switch-checked-track-color: var(--md-switch-checked-track-color);
	--switch-unchecked-track-color: var(--md-switch-unchecked-track-color);
}

/* Increase track size, make always opaque, and border. */
.mdc-switch__track {
	height: 32px !important;
	width: 52px !important;
	border-radius: 32px !important;
	opacity: 1 !important;
	border: 2px solid var(--switch-unchecked-button-color) !important;
}
/* Remove border when on */
.mdc-switch--checked .mdc-switch__track {
	border: none !important;
}

/* Fix thumb position */
.mdc-switch__thumb-underlay {
	top: -8px !important;
	left: var(--thumb-left-on, var(--thumb-left-off)) !important;
	--thumb-left-off: -8px;
}
/* Thumb position when on */
.mdc-switch--checked .mdc-switch__thumb-underlay {
	--thumb-left-on: -4px;
}

/* Switch thumb color and size */
.mdc-switch__thumb {
	height: var(
		--thumb-size-active,
		var(--thumb-size-on, var(--thumb-size-off))
	) !important;
	width: var(
		--thumb-size-active,
		var(--thumb-size-on, var(--thumb-size-off))
	) !important;
	background: var(--switch-unchecked-button-color) !important;
	border: none !important;
	transition:
		height 0.2s cubic-bezier(0.2, 0, 0, 1),
		width 0.2s cubic-bezier(0.2, 0, 0, 1) !important;
	--thumb-size-off: 16px;
}
/* Switch on thumb color and size */
.mdc-switch--checked .mdc-switch__thumb {
	background: var(--switch-checked-button-color) !important;
	--thumb-size-on: 24px;
}

/* Thumb active size */
.mdc-switch__thumb:active {
	--thumb-size-active: 30px !important;
}
.mdc-switch--checked .mdc-switch__thumb:active {
	--thumb-size-active: 28px !important;
}

/* Remove ripple */
mwc-ripple {
	display: none !important;
}
