/* Material 3 colors and adjust padding to match footprint of old switch  */
:host {
	padding: 0 !important;
	position: relative;
	top: 3px;
	--switch-checked-button-color: var(--mdc-switch-checked-thumb-color);
	--switch-checked-track-color: var(--mdc-switch-checked-track-color);
	--switch-unchecked-button-color: var(--mdc-switch-unchecked-thumb-color);
	--switch-unchecked-track-color: var(--mdc-switch-unchecked-track-color);
}

/* Increase track size and make it always opaque */
.mdc-switch__track {
	height: 32px !important;
	width: 52px !important;
	border-radius: 32px !important;
	opacity: 1 !important;
}
.mdc-switch--checked > .mdc-switch__track {
	opacity: 1 !important;
}

/* Remove ripple */
mwc-ripple {
	display: none !important;
}

/* Fix thumb position */
.mdc-switch__thumb-underlay {
	top: -8px !important;
	left: var(--thumb-left-off, var(--thumb-left-on)) !important;
	--thumb-left-on: -4px;
}
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb-underlay {
	--thumb-left-on: -8px;
}

/* Switch on thumb size */
.mdc-switch__thumb {
	height: var(
		--thumb-size-active,
		var(--thumb-size-off, var(--thumb-size-on))
	) !important;
	width: var(
		--thumb-size-active,
		var(--thumb-size-off, var(--thumb-size-on))
	) !important;
	--thumb-size-on: 24px;
}

/* Switch off color and thumb size */
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__thumb {
	background-color: var(--mdc-switch-unchecked-button-color) !important;
	border: none !important;
	--thumb-size-off: 16px;
}

/* Switch off border */
.mdc-switch:not(.mdc-switch--checked) .mdc-switch__track {
	border: 2px solid gray !important;
	--border-color: var(--mdc-switch-unchecked-button-color);
}

/* Thumb active size */
.mdc-switch__thumb:active {
	transition: width 0.2s cubic-bezier(0.2, 0, 0, 1) !important;
	--thumb-size-active: 28px !important;
}
