#tabsContainer {
	/* Evenly space icons along entire length of toolbar */
	> #tabsContent {
		width: 100% !important;
		display: inline-flex !important;
	}
}

/* Reduce size of edit mode scroll buttons */
paper-icon-button {
	padding: 0 !important;
	margin: 0 !important;
	width: 24px !important;
}