/* Turn header toolbar into a footer */
.header {
	top: unset !important;
	bottom: 0 !important;
	background: var(--navbar-background) !important;
}

/* Modify toolbar height but only for card-mod version of theme */
.toolbar {
	height: var(--toolbar-height) !important;
	padding: 0 !important;
}

/* Move menu and action items buttons to top corners outside of toolbar */
ha-menu-button,
.action-items {
	position: fixed;
	z-index: 3;
	top: 0px;
	padding: 0 4px;
	transition: top 20ms ease-in-out 0s;
}
ha-menu-button {
	left: 0px;
}
.action-items {
	right: 0px;
}

/* Hide menu and action items if not scrolled to top  */
:host([scrolled]) ha-menu-button,
:host([scrolled]) .action-items {
	top: -48px !important;
	transition: top 100ms ease-in-out 0s;
}

/* Remove toolbar margins */
ha-tabs {
	margin: 0 !important;
	margin-inline: 0 !important;
}

/* Force hide subview tab just in case */
.hide-tab {
	display: none !important;
}

/* Move subview toolbar back to the header */
.header:has(.main-title) {
	top: 0 !important;
	bottom: unset !important;
	background: var(--lovelace-background) !important;
	--toolbar-height: 48px;
}

/* Display view tab contents vertically and calculate width to fill entire toolbar */
paper-tab {
	padding: 11px 0;
	flex-direction: column;
	flex: 1;
	width: var(--tab-width);
	--tab-width: clamp(
		min(calc(((100vw - var(--mdc-drawer-width, 0px)) / 5) - 3px), 72px),
		((100vw - var(--mdc-drawer-width, 0px)) / var(--view-tabs-count)) - 3px,
		calc(((100vw - var(--mdc-drawer-width, 0px))) - 3px)
	);
}

/* Add background and color current view icon */
paper-tab.iron-selected ha-icon {
	width: min(64px, var(--tab-width));
	color: var(--primary-color);
	background: var(--accent-color);
}

/* View icon transition and display centering */
ha-icon {
	min-width: 24px;
	width: 24px;
	height: 32px;
	border-radius: 16px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: width 0.2s cubic-bezier(0.2, 0, 0, 1);
	will-change: width, color, background;
}

/* Prevent edit mode icon from shrinking on small width displays */
ha-svg-icon {
	min-width: 24px;
}

/* View label */
paper-tab::after {
	content: attr(aria-label);
	text-transform: none;
	text-wrap: wrap;
	text-align: center;
	font-weight: 500;
	font-size: min(3.6vw, 13px);
	opacity: 0.8;
	padding: 0px 1px;
	overflow: hidden;
	line-height: 12px;
	height: 100%;
	margin-top: 4px;
}

/* Make current view label opaque */
paper-tab.iron-selected::after {
	opacity: 1;
}

/* Fix edit mode header (footer) height */
.edit-mode .header {
	height: calc(2 * var(--toolbar-height)) !important;
}

/* Fix edit mode toolbar height */
paper-tabs {
	height: 50%;
}

/* Make edit mode current view tab fit all buttons */
.edit-mode paper-tab {
	min-width: fit-content !important;
}

/* Fix edit mode current view label position */
.edit-mode paper-tab.iron-selected::after {
	margin-top: -2px !important;
}

/* Move edit mode action items back to bottom toolbar */
.edit-mode .action-items {
	position: static !important;
}

/* Style add view button to look like view buttons */
#add-view {
	top: 6px;
	height: 100% !important;
	display: inline-flex;
	flex-direction: column;
}
#add-view::after {
	content: 'Add View';
	text-transform: none;
	text-wrap: wrap;
	text-align: center;
	font-weight: 500;
	font-size: min(3.6vw, 13px);
	opacity: 0.8;
	padding: 0px 1px;
	overflow: hidden;
	line-height: 12px;
	height: 100%;
	margin-top: -4px;
}
