/* Add padding to sides of viewbox and force background color just in case */
#view {
	padding-top: calc(40px + env(safe-area-inset-top)) !important;
	padding-left: calc(12px + env(safe-area-inset-left)) !important;
	padding-right: calc(12px + env(safe-area-inset-right)) !important;
	background: var(--lovelace-background) !important;
}

/* Add bottom footer padding when present */
.header:has(ha-tabs, paper-tabs) + #view {
	padding-bottom: calc(
		var(--footer-height) + env(safe-area-inset-bottom)
	) !important;
}
